Source: backport-iwlwifi-dkms
Section: kernel
Priority: optional
Maintainer: You-Sheng Yang <vicamo@gmail.com>
Build-Depends:
 debhelper (>=9),
 dh-modaliases,
 dkms,
 quilt,
Standards-Version: 4.3.0
Homepage: https://gitlab.com/vicamo/backport-iwlwifi-dkms
Vcs-Browser: https://gitlab.com/vicamo/backport-iwlwifi-dkms/tree/master
Vcs-Git: https://gitlab.com/vicamo/backport-iwlwifi-dkms.git

Package: backport-iwlwifi-dkms
Architecture: all
Depends:
 dkms,
 libc6-dev | libc-dev,
 ${misc:Depends},
Provides: iwlwifi-modules
XB-Modaliases: ${modaliases}
Description: iwlwifi driver backport in DKMS format
 Intel works with periodic releases of the iwlwifi driver that are
 tested with a specific combination of components such as firmware and
 hostap. These releases can be seen as snapshots of the development
 trees (including upstream) that can be used on older kernels.
 .
 This package provides iwlwifi modules built from iwlwifi-public
 defconfig based on upstream master branch.
